@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("https://img.freepik.com/free-photo/old-paper-texture-background_118047-1365.jpg?size=626&ext=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.quiz-container {
  width: 450px;
  color: white;
  font-size: 110%;
  margin: auto;
}
.quiz-container h1 {
  text-align: center;
  color: #cb2127;
  margin-bottom: 10px;
}
.quiz-container .box {
  padding: 10px 15px;
}
.quiz-container .question {
  background-color: #cb2127;
  margin-bottom: 25px;
  font-size: 115%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.quiz-container .question:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #cb2127;
}
.quiz-container .question span {
  background-color: #cb2127;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 0px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.quiz-container .answers {
  padding-left: 0;
  list-style-type: none;
}
.quiz-container .answers .answer {
  background-color: #fff;
  color: #cb2127;
  margin-bottom: 10px;
  position: relative;
}
.quiz-container .answers .answer:hover,
.quiz-container .answers .answer.active {
  cursor: pointer;
  color: #2ecc71;
}
.quiz-container .answers .answer:hover span:not([class^="checkmark"]),
.quiz-container .answers .answer.active span:not([class^="checkmark"]) {
  background-color: #2ecc71;
}
.quiz-container .answers .answer.active span.checkmark {
  background-color: #fff;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 120%;
}
.quiz-container .answers .answer span:not([class^="checkmark"]) {
  background-color: #cb2127;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.quiz-container button {
  background-color: #cb2127;
  color: #fff;
  font-size: 110%;
  border: 0;
  width: 100%;
  position: relative;
}
.quiz-container button:hover {
  background-color: #2ecc71;
  cursor: pointer;
}
.quiz-container button span {
  font-size: 200%;
  position: absolute;
  top: -3px;
  right: 10px;
}

@media (max-width: 450px) {
  .quiz-container {
    width: calc(100% - 30px);
  }
}
